@font-face {
    font-family: 'hina';
    src: url(fonts/HinaMincho-Regular.ttf) format('TrueType');
}

@font-face {
    font-family: 'luxi';
    src: url(fonts/Luxi-Mono/luximb.ttf) format('TrueType');
}

@font-face {
    font-family: 'island';
    src: url(fonts/IslandMoments-Regular.ttf) format('TrueType');
}

@font-face {
    font-family: 'tenor';
    src: url(fonts/TenorSans-Regular.ttf) format('TrueType');
}

@font-face {
    font-family: 'syne';
    src: url(fonts/SyneMono-Regular.ttf) format('TrueType');
}

* {
    padding: 0px;
}

body {
    margin: 0px;
    background-image: linear-gradient(90deg, #c5c3c3, #c5ccc7);
}

body > label, input, #retorno {
    font-size: 1.5em;
}

header {
    position: fixed;
    top: -1px;
    width: -webkit-fill-available;
    margin: 0px;
    background-image: linear-gradient(90deg, #609541, #60a433);
    box-shadow: 0px 1px 1px #00000045;
}

nav {
    margin: -1px;
    background-image: linear-gradient(90deg, #609541, #60a433);
}

main {
    max-width: 860px;
    min-height: 530px;
    margin: 140px auto 0px auto;
    padding: 20px;
    background-color: white;
}

section#calculadora, section#orçamento {
    display: none;
}

label.inventario {
    display: block;
    padding: 0px;
    text-align: left;
    font-family: syne;
    font-weight: bold;
    font-size: 13px;
    color: black;
}

article {
    display: none;
}

h1.cabeça {
    margin: 0px;
    padding: 0px 20px;
    color: white;
    font: normal 5.5em 'island';
}

h1 {
    font: normal 1.8em 'hina';
    border-bottom: solid 1px #8b8b8b7a;
}

h1 > a {
    text-decoration: none;
    color: white;
}

h2 {
    font: normal 1.3em georgia;
    color: white;
    background-color: #609541;
    padding: 5px 14px;
    box-shadow: 1px 1px 1px #0000002e;
}

#navMenuPlantas, #navMenuCalculadora, #navMenuInventarios, #navMenuRepositorios {
    margin: 0px;
    display: none;
    position: absolute;
    background-image: linear-gradient(90deg, #325d85, #3376a4);
    box-shadow: 2px 3px 4px 0px #00000033;
}

.navButton {
    width: 160px;
    background: transparent;
    color: white;
    border: none;
    padding: 0px 29px 1px 25px;
    margin: 0px 0px 5px 5px;
    border-radius: 50px;
    font: normal 1.5em 'hina';
}

.navButton:hover {
    background-color: #7db45d;
    transition-duration: 0.5s;
}

.navButton:active {
    background-color: #cdedba;
    box-shadow: inset 1px 1px 3px 0px #00000061;
    transition-duration: 0.2s;
}

li.navItem {
    
    list-style-type: none;
}

li.listaHomepage {
    font-family: syne;
}

input.navItem {
    font: normal 1.5em 'hina';
    border: none;
    background-color: transparent;
    padding: 3px 40px;
    width: -webkit-fill-available;
    color: white;
    text-decoration: none;
    text-align: left;
}

input.navItem:hover {
    background-color: #678ab8;
    padding-left: 50px;
    padding-right: 30px;
    box-shadow: inset 1px -2px 20px 0px #00000033;
    transition-duration: 0.4s;
}

input.navItem:active {
    background-color: #678ab8;
    transition-duration: 0.2s;
    box-shadow: inset 0px 0px 4px 0px #0000009e;
}

ul {
    list-style: none;
    margin: 10px 0px;
}

li {
    font: normal 1.1em 'arial';
}

label {
    padding: 10px 1px 10px 10px;
}

#entrada {
    width: 65px;
    border-width: 0px 0px 1px 0px;
    border-style: dashed;
}

.botao {
    width: 43px;
    height: 44px;
    background-color: #649c45e0;
    color: white;
    border-style: hidden;
    box-shadow: 1px 1px 1px 0px #0000006b;
    border-radius: 2px;
    border: 1px solid white;
    border-radius: 7px;
    font-family: georgia;
    text-shadow: 1px 1px 0px BLACK;
}

.botao:hover {
    box-shadow: inset 1px 1px 6px 1px #00000026;
    transition-duration: 0.2s;
}

#botaoReset {
    background-color: #c33636;
    font-size: 1.19em;
    font-weight: bold;
    font-family: arial;
    text-shadow: 3px 2px 3px #15151554;
}

.botao:active {
    background-color: #c9eab6e0;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.374);
}

p {
    margin: 0px;
    text-align: justify;
}

p#retorno {
    background: white;
    margin: 10px 0px;
    border-radius: 5px;
}

#label_for_entrada {
    background-color: white;
    color: black;
    border-radius: 10px;
    font-family: 'gc16-Mono';
}

#entrada {
    width: 105px;
    height: 26px;
    padding: 6px;
    border: 4px inset white;
    border-radius: 10px;
    font-family: georgia;
}

.linhaRetorno {
    margin-left: 3px;
    padding: 0px 5px;
    background-color: transparent;
    border: none;
    font: 1em normal;
    font-family: georgia;
    border-radius: 5px;
    color: black;
}

input.linhaRetorno:hover {
    background-image: linear-gradient(28deg, #60993fe0, #62a53ce0);
    color: #fffffffc;
    padding-left: 7px;
    text-align: left;
    transition-duration: 0.1s;
    text-shadow: 1px 1px 0px black;
}

input.linhaRetorno:active {
    box-shadow: inset 1px 2px 2px black;
}

.menuEspecifico {
    padding: 3px;
    display: none;
    position: absolute;
    left: 137px;
    color: white;
    background-image: linear-gradient(90deg, #1f4a71fc , #226fb6f2 );
    border-radius: 10px;
    border: 2px inset white;
    box-shadow: 2px 3px 4px 0px #000000a3;
}

input {
    outline: none;
}

section#home_page {
    font-family: 'syne';
}

section#calculadora {
    display: none;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 1px 1px 3px 1px #000000a8;
    border: 2px solid;
    position: absolute;
    background-image: linear-gradient(90deg, #226fb6f2 5%, #3b81c2db);
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}
    
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.funçoes {
    width: 36px;
    height: 36px;
    padding: 2px;
    font: normal 1em 'hina';
    color: white;
    background: transparent;
    border-style: hidden;
}

.funçoes:hover {
    box-shadow: inset 1px 1px 6px 1px #00000026;
    transition-duration: 0.2s;
}

.funçoes:active {
    background-color: #5b8fc0;
    box-shadow: inset 1px 1px 3px 0px #00000061;
    transition-duration: 0.5s;
}

.entradaMultiplo , .entradaDesconto {
    margin-left: 10px;
    height: 21px;
    font: normal 0.9em 'hina';
    text-align: center;
    width: 50px;
    background: transparent;
    color: white;
    border-color: white;
    border-width: 0px 0px 2px 0px;
    border-style: groove;
}

.entradaDesconto {
    display: none;
}

.entradaDeOrdem {
    display: none;
    position: absolute;
    background-color: #296cabe6;
    margin-left: 10px;
    font: normal 1.5em 'hina';
    text-align: center;
    width: 39px;
    height: 32px;
    color: white;
    border-color: white;
    border-width: 0px 0px 2px 0px;
    border-style: groove;
    border-radius: 3px;
}

#divDeEntrada {
    margin-bottom: 28px;
    padding-bottom: 5px;
    border-bottom: solid 1px #0000003d;
}

p.repositor {
    font-size: 1.2em;
}

p.menssagem_de_erro {
    margin: 10px;
    padding: 6px;
    background-image: linear-gradient(45deg, #c40c0c, #9c3030);
    color: white;
    text-align: center;
    font-size: 1.3em;
    font-family: "georgia";
    border-radius: 5px;
    box-shadow: 0px 3px 14px 1px #00000059;
}

.ordem_de_reposição {
    display: block;
    padding: 1px;
    text-align: left;
    font-family: syne;
    font-size: 0.9em;
    font-weight: bold;
}

.ordem_de_reposição:hover, label.inventario:hover {
    font-weight: normal;
    font-style: italic;
    color: #ffffff;
    background-image: linear-gradient(90deg, #548abd, #72a5c8);
    padding: 6px 0px;
    border-radius: 3px;
}

input.repositor {
    display: inline;
    font-size: 1.2em;
    border-width: 0px 0px 1px 0px;
    border-style: dashed;
    width: 40px;
}

.esgotado {
    padding: 5px 2px;
    background-image: linear-gradient(46deg, #e11e1e94, #ea000005);
    border-left: solid 2px #940707de;
    border-radius: 10px 50px 50px 10px;
    box-shadow: 1px -1px 5px 0px #00000024;
}

label.orçamento {
    display: inline-block;
    padding: 2px 5px;
    margin: 0px;
    font-size: 1.1em;
    font-family: 'syne';
    font-weight: bold;
    border-radius: 5px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left: 2px solid #226fb6;
    border-bottom: 2px solid #226fb6;
    background-image: linear-gradient(90deg, #226fb6, #2b75bbe6);
    color: white;
    text-shadow: 0px 1px 1px #000000a8;
}

#legenda_do_orçamento {
    margin-top: 5px;
    
}

#label_quantidade {
    width: 6%;
}

#label_grandeza {
    width: 5%;
}

#label_descrição {
    width: 48%;
}

#label_unitario {
    width: 15%;
}

#label_total {
    width: 15%;
}

.entradaOrçamento {
    display: inline-block;
    padding: 2px 5px;
    border-radius: 5px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left: 2px solid #226fb6;
    border-bottom: 2px dashed #226fb6;
    
    font-size: 1.2em;
    font-family: 'syne';
    font-weight: normal;
}

.entradaOrçamento:focus {
    background-image: linear-gradient(90deg, #48911f9c, #48911f85);
    border-left-color: #3b751b;
    border-bottom-color: #3b751b;
    color: white;
    text-shadow: 0px 1px 1px #000000a8;
    transition-duration: 0.2s;
}

#total_total {
    display: inline-block;
    width: 28%;
    padding: 8px 10px;
    margin: 7px 0px;
    font-size: 1.4em;
    font-family: 'syne';
    font-weight: bold;
    border-radius: 5px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left: 2px solid #226fb6;
    border-bottom: 2px solid #226fb6;
    background-image: linear-gradient(90deg, #226fb6, #2b75bbe6);
    color: white;
    text-shadow: 0px 1px 1px #000000a8;
}

#carimbo {
    display: inline-block;
    /* width: 28%; */
    padding: 8px 10px;
    margin: 7px 17px;
    font-size: 1.4em;
    font-family: 'syne';
    font-weight: bold;
    border-radius: 5px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left: 2px solid #226fb6;
    border-bottom: 2px solid #226fb6;
    background-image: linear-gradient(90deg, #226fb6fa, #2b75bbc9);
    color: white;
    text-shadow: 0px 1px 3px #00000087;
}

input#carimbo:active {
    box-shadow: inset -2px -1px 8px 0px #0000007a;
}
input#carimbo:hover {
    background-image: linear-gradient(90deg, #1279d9fa, #2b75bbc9);
}

label.cliente {
    display: inline-block;
    margin: 2px 0px;
    padding: 3px 5px;
    font-size: 1.1em;
    font-family: 'syne';
    font-weight: bold;
    border-radius: 6px 6px 6px 6px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left: 2px solid #226fb6;
    border-bottom: 2px solid #226fb6;
    background-image: linear-gradient(90deg, #226fb6, #2b75bbe6);
    color: white;
    text-shadow: 0px 1px 1px #000000a8;
}

input.cliente {
    display: inline-block;
    width: 70%;
    padding: 2px 5px;
    border-radius: 5px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom: 2px dashed #226fb6;
    font-size: 1.2em;
    font-family: 'syne';
    border-left: 0px;
}

input.cliente:focus {
    background-image: linear-gradient(90deg, #48911f9c, #48911f85);
    border-left-color: #3b751b;
    border-bottom-color: #3b751b;
    color: white;
    text-shadow: 0px 1px 1px #000000a8;
    transition-duration: 0.2s;
}
