@font-face {
    font-family: 'hina';
    src: url(fonts/HinaMincho-Regular.ttf) format('TrueType');
}

@font-face {
    font-family: 'luxi';
    src: url(fonts/Luxi-Mono/luximb.ttf) format('TrueType');
}

@font-face {
    font-family: 'island';
    src: url(fonts/IslandMoments-Regular.ttf) format('TrueType');
}

@font-face {
    font-family: 'tenor';
    src: url(fonts/TenorSans-Regular.ttf) format('TrueType');
}

@font-face {
    font-family: 'syne';
    src: url(fonts/SyneMono-Regular.ttf) format('TrueType');
}

@font-face {
    font-family: 'ctrl';
    src: url(fonts/heydings_controls.ttf) format('TrueType');
}

@font-face {
    font-family: 'leaf';
    src: url(fonts/Leafs.ttf) format('TrueType');
}

@font-face {
    font-family: 'bank';
    src: url(fonts/Bankwesen.ttf) format('TrueType');
}

@font-face {
    font-family: 'trans';
    src: url(fonts/Guifx_v2_Transports.ttf) format('TrueType');
}

@font-face {
    font-family: 'science';
    src: url(fonts/Science_Icons.ttf) format('TrueType');
}

@font-face {
    font-family: 'berg';
    src: url(fonts/BergamotOrnaments.ttf) format('TrueType');
}

@font-face {
    font-family: 'tipos';
    src: url(fonts/File_Types.ttf) format('TrueType');
}

* {
    padding: 0px;
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, #c5c3c3, #c5ccc7);
}

body > label, input, #retorno {
    font-size: 1.5em;
}

header {
    position: fixed;
    top: -1px;
    width: -webkit-fill-available;
    margin: 0px;
    background-color: #2d5c96;
    box-shadow: 3px 2px 4px 0px #000000ba;
    border-bottom: 3px inset;
}

footer {
    font-size: 2em;
    color: #e7e700;
    background-color: #446b2f;
    background-image: linear-gradient(90deg, #325121 5%, transparent);
    padding: 4px 21px;
    position: fixed;
    bottom: 0px;
    width: -webkit-fill-available;
}

nav {
    display: inline-block;
    margin: -1px;
    background-color: transparent;
}

main {
    max-width: 860px;
    min-height: 519px;
    margin: 70px auto 0px auto;
    padding: 20px;
    background-color: white;
}

section#calculadora, section#orçamento {
    display: none;
}

section#home_page {
    font: normal 1.3em syne;
}

label.inventario {
    display: block;
    padding: 0px;
    text-align: left;
    font-family: syne;
    font-weight: bold;
    font-size: 13px;
    color: black;
}

article {
    display: none;
}

h1.cabeça {
    display: inline;
    margin: 0px;
    padding: 0px 20px;
    color: white;
    font: normal 2em 'georgia';
    border-width: 0px;
}

h1.cabeça strong:hover {
    color: #77ae4e;
    cursor: default;
}

h1 {
    font: normal 1.8em 'hina';
    border-bottom: solid 1px #8b8b8b7a;
}

h1 > a {
    text-decoration: none;
    color: white;
}

h2 {
    font: normal 1.3em georgia;
    color: white;
    background-color: #609541;
    padding: 5px 14px;
    box-shadow: 1px 1px 1px #0000002e;
}

#navMenuPlantas, #navMenuCalculadora, #navMenuInventarios, #navMenuRepositorios {
    max-height: 420px;
    overflow-x: auto;
    margin: 0px;
    display: none;
    position: absolute;
    background-image: linear-gradient(90deg, #447b26fa, #619e3df4);
    border: solid white;
    border-width: 0px 2px 2px 2px;
    box-shadow: 2px 3px 4px 0px #00000033;
}

.navButton {
    width: 55px;
    height: 55px;
    margin-right: 9px;
    text-align: center;
    background: transparent;
    color: white;
    border: none;
    position: relative;
    left: 0px;
}

.navButton:hover {
    background-color: #265186;
    border: 2px inset;
}

.navButton:active {
    background-color: #20457b;
    box-shadow: inset 1px 1px 3px 1px #00000061;
}

.navButton:focus {
    background-image: linear-gradient(90deg, #447b26fa, #619e3df4);
    border: solid white;
    border-width: 2px 2px 0px 2px;
}

#div_botao_plantas:focus-within #navMenuPlantas{
    display: block;
}

#div_botao_inventarios:focus-within #navMenuInventarios{
    display: block;
}

#div_botao_repositorios:focus-within #navMenuRepositorios {
    display: block;
}

li.navItem {
    list-style-type: none;
}

li.listaHomepage {
    font-family: syne;
}

input.navItem {
    font: normal 1.5em 'hina';
    border: none;
    background-color: transparent;
    padding: 3px 40px;
    width: -webkit-fill-available;
    color: white;
    text-decoration: none;
    text-align: left;
}

input.navItem:hover {
    background-color: #e6b92c;
    padding-left: 50px;
    padding-right: 30px;
    box-shadow: inset 4px 0px 5px 2px #00000033;
    text-shadow: 2px 1px 1px #000000cc;
    transition-duration: 0.4s;
}

input.navItem:active {
    background-color: #678ab8;
    transition-duration: 0.2s;
    box-shadow: inset 0px 0px 4px 0px #0000009e;
}

ul {
    list-style: none;
    margin: 10px 0px;
}

li {
    font: normal 1.1em 'arial';
}

label {
    padding: 10px 1px 10px 10px;
}

#entrada {
    width: 65px;
    border-width: 0px 0px 1px 0px;
    border-style: dashed;
}

.botao {
    width: 43px;
    height: 44px;
    background-color: #649c45e0;
    color: white;
    border-style: hidden;
    box-shadow: 1px 1px 1px 0px #0000006b;
    border-radius: 2px;
    border: 1px solid white;
    border-radius: 7px;
    font-family: georgia;
    text-shadow: 1px 1px 0px BLACK;
}

.botao:hover {
    box-shadow: inset 1px 1px 6px 1px #00000026;
    transition-duration: 0.2s;
}

#botaoReset {
    background-color: #c33636;
    font-size: 1.19em;
    font-weight: bold;
    font-family: arial;
    text-shadow: 3px 2px 3px #15151554;
}

.botao:active {
    background-color: #c9eab6e0;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.374);
}

p {
    margin: 0px;
    text-align: justify;
}

p#retorno {
    max-height: 400px;
    overflow-x: auto;
    background: white;
    margin: 10px 0px;
    border-radius: 5px;
}

p#retorno::-webkit-scrollbar {
    width: 3px;
}

#label_for_entrada {
    background-color: white;
    color: black;
    border-radius: 10px;
    font-family: 'gc16-Mono';
}

#entrada {
    width: 105px;
    height: 26px;
    padding: 6px;
    border: 4px inset white;
    border-radius: 10px;
    font-family: georgia;
}

.linhaRetorno {
    margin-left: 3px;
    padding: 0px 5px;
    background-color: transparent;
    border: none;
    font: 1em normal;
    font-family: georgia;
    border-radius: 5px;
    color: black;
}

input.linhaRetorno:hover {
    background-image: linear-gradient(28deg, #60993fe0, #62a53ce0);
    color: #fffffffc;
    padding-left: 7px;
    text-align: left;
    transition-duration: 0.1s;
    text-shadow: 1px 1px 0px black;
}

input.linhaRetorno:active {
    box-shadow: inset 1px 2px 2px black;
}

.menuEspecifico {
    padding: 3px;
    display: none;
    position: absolute;
    left: 137px;
    color: white;
    background-image: linear-gradient(90deg, #1f4a71fc , #226fb6f2 );
    border-radius: 10px;
    border: 2px inset white;
    box-shadow: 2px 3px 4px 0px #000000a3;
}

input {
    outline: none;
}

section#calculadora {
    display: none;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 1px 1px 3px 1px #000000a8;
    border: 2px solid;
    position: fixed;
    background-image: linear-gradient(90deg, #226fb6f2 5%, #3b81c2db);
    color: white;
    margin-top: 35px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2d5c96; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #77ae4e;
}
    
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.funçoes {
    width: 36px;
    height: 36px;
    padding: 2px;
    font: normal 1em 'hina';
    color: white;
    background: transparent;
    border-style: hidden;
}

.funçoes:hover {
    box-shadow: inset 1px 1px 6px 1px #00000026;
    transition-duration: 0.2s;
}

.funçoes:active {
    background-color: #5b8fc0;
    box-shadow: inset 1px 1px 3px 0px #00000061;
    transition-duration: 0.5s;
}

.entradaMultiplo , .entradaDesconto {
    margin-left: 10px;
    height: 21px;
    font: normal 0.9em 'hina';
    text-align: center;
    width: 50px;
    background: transparent;
    color: white;
    border-color: white;
    border-width: 0px 0px 2px 0px;
    border-style: groove;
}

.entradaDesconto {
    display: none;
}

.entradaDeOrdem {
    display: none;
    position: absolute;
    background-color: #296cabe6;
    margin-left: 10px;
    font: normal 1.5em 'hina';
    text-align: center;
    width: 39px;
    height: 32px;
    color: white;
    border-color: white;
    border-width: 0px 0px 2px 0px;
    border-style: groove;
    border-radius: 3px;
}

#divDeEntrada {
    margin-bottom: 28px;
    padding-bottom: 5px;
    border-bottom: solid 1px #0000003d;
}

p.repositor {
    font-size: 1.2em;
}

p.menssagem_de_erro {
    margin: 10px;
    padding: 6px;
    background-image: linear-gradient(45deg, #c40c0c, #9c3030);
    color: white;
    text-align: center;
    font-size: 1.3em;
    font-family: "georgia";
    border-radius: 5px;
    box-shadow: 0px 3px 14px 1px #00000059;
}

.ordem_de_reposição {
    display: block;
    padding: 1px;
    text-align: left;
    font-family: syne;
    font-size: 0.9em;
    font-weight: bold;
}

.ordem_de_reposição:hover, label.inventario:hover {
    font-weight: normal;
    font-style: italic;
    color: #ffffff;
    background-image: linear-gradient(90deg, #548abd, #72a5c8);
    padding: 6px 0px;
    border-radius: 3px;
}

input.repositor {
    display: inline;
    font-size: 1.2em;
    border-width: 0px 0px 1px 0px;
    border-style: dashed;
    width: 40px;
}

.esgotado {
    padding: 5px 2px;
    background-image: linear-gradient(46deg, #e11e1e94, #ea000005);
    border-left: solid 2px #940707de;
    border-radius: 10px 50px 50px 10px;
    box-shadow: 1px -1px 5px 0px #00000024;
}

#grade_de_entrada {
    border-collapse: collapse;
}

td {
    border-bottom: 2px dashed #2d5c96;
}

#grade_de_entrada td {
    border-bottom: 2px dashed #2d5c96;
    border-left: 2px solid #2d5c96;
    border-right: 2px solid #2d5c96;
}

#legenda_do_orçamento {
    margin-top: 5px;
    background-color: #2d5c96;
    border: 2px solid #2d5c96;
    color: white;
    font: 1.3em normal georgia;
}

label.orçamento {
    display: inline-block;
    padding: 5px 5px;
    margin: 0px;
    font-size: 1.4em;
    font-family: georgia;
    /* font-weight: bold; */
    /* border-radius: 2px; */
    /* border-top-width: 0px; */
    /* border-right-width: 0px; */
    /* border-left: 2px solid #2d5c96; */
    /* border-bottom: 2px solid #2d5c96; */
    background-color: #2d5c96;
    color: white;
    /* text-shadow: 0px 1px 1px #000000a8; */
    border-collapse: collapse;
}

#legenda_do_orçamento {
    margin-top: 5px;
}

.coluna_quantidade {
    width: 6%;
}

.coluna_grandeza {
    width: 7%;
}

.coluna_quantidade, .coluna_grandeza, .coluna_grandeza > input, .coluna_quantidade > input {
    text-align: center;
}

.coluna_descrição {
    width: 48%;
    padding: 2px 5px;
}

.coluna_unitario {
    width: 15%;
}

.coluna_total {
    width: 15%;
}

.entradaOrçamento {
    display: inline-block;
    padding: 0px;
    width: 100%;
    border-width: 0px;
    /* border: 2px dashed #2d5c96; */
    font-size: 1.2em;
    font-family: 'syne';
    font-weight: normal;
    border-collapse: collapse;
}

table input {
    background: transparent;
}

table input:focus { 
    color: white;
}

table input::selection, #observaçao::selection {
    color: #ffffff;
    text-shadow: 2px 1px 3px black;
    background: transparent;
  }

.coluna_quantidade:focus-within, 
.coluna_grandeza:focus-within,
.coluna_descrição:focus-within,
.coluna_unitario:focus-within,
.coluna_total:focus-within {
    background-image: linear-gradient(90deg, #77ae4e, #77ae4e);
    text-shadow: 0px 1px 1px #000000a8;
    transition-duration: 0.2s;
}

#total_total{
    display: inline-block;
    width: 24%;
    padding: 6px 10px;
    margin: 0px 0px;
    margin-top: 15px;
    background-color: #2d5c96;
    border: 2px solid #2d5c96;
    font: 1.7em normal georgia;
    color: white;
}

label#etiqueda_parcela {
    display: inline;
    display: inline-block;
    /* width: 24%; */
    padding: 6px 10px;
    margin: 0px 0px;
    margin-top: 15px;
    background-color: #2d5c96;
    border: 2px solid #2d5c96;
    font: 1.7em normal georgia;
    color: white;
}

#carimbo {
    padding: 0px 10px;
    margin-top: 10px;
    background: transparent;
    border: 0px;
    font: 2.9em normal tipos;
    color: #2d5c96;
    float: right;
}

input#carimbo:active {
    color: #77ae4e;
    text-shadow: 0px 0px 0px #0000007a;
}
input#carimbo:hover {
    text-shadow: 3px 2px 2px #0000007a;
    transition-duration: 0.5s;
}

#dados_do_cliente {
    margin-bottom: 30px;
}

td.cliente, label.cliente {
    background-color: #2d5c96;
    color: white;
    font-family: georgia;
    font-size: 1.2em;
    padding: 3px 8px;
}

input.cliente {
    border: 0px;
    width: 99.2%;
    padding-left: 5px;
    font: normal 1.4em georgia;
}

input.cliente:focus {
    background-image: linear-gradient(90deg, #77ae4e, #77ae4e);
}

#observaçao {
    border-width: 0px 2px 2px 2px;
    border-style: dashed;
    border-color:  rgb(45, 92, 150);
    font-size: 1.2em;
    font-family: syne;
    width: 39.3%;
    height: 45px;
    outline: none;
    resize: vertical;
    padding: 9px;
}

#observaçao:focus {
    background-image: linear-gradient(90deg, #77ae4e, #77ae4e);
    border-color: #365122;
    color: white;
}

select {
    position: relative;
    background-color: #478d13;
    padding: 5px 44px 2px 10px;
    border: none;
    font: 1.4em bold georgia;
    color: white;
    outline: none;
    border-radius: 0px 30px 30px 0px;
    
}

#parcelas:hover, #descontos_dinheiro:hover, #descontos_debito:hover {
    z-index: 1;
    transition-duration: 0.3s;
}

option {
    background-color: #77ae4e;
    border: none;
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 2px 1px 1px #000000ea;
}

#parcelas option, #descontos_dinheiro option, #descontos_debito option {
    background-color: #e6b92c;
    border: none;
    font: 1em normal georgia;
    color: black;
    text-shadow: 2px 1px 1px #000000ea;
}
