@font-face {
    font-family: 'hina';
    src: url(fonts/HinaMincho-Regular.ttf) format('TrueType');
}

@font-face {
    font-family: 'island';
    src: url(fonts/IslandMoments-Regular.ttf) format('TrueType');
}

@font-face {
    font-family: 'tenor';
    src: url(fonts/TenorSans-Regular.ttf) format('TrueType');
}

* {
    padding: 0px;
}

body {
    margin: 0px;
}

body > label, input, #retorno {
    font-size: 1.3em;
}

#registro {
    font-size: 1.1em;
}

header {
    margin: 0px;
    background-image: linear-gradient(90deg, #609541, #60a433);
}

nav {
    margin: 0px;
    background-image: linear-gradient(90deg, #609541, #60a433);
}

h1.cabeça {
    margin: 0px;
    padding: 0px 20px;
    color: white;
    box-shadow: 0px 1px 1px #00000045;
    font: normal 5.5em 'island';
}

ul {
    margin: 0px;
    display: none;
    position: absolute;
    background-image: linear-gradient(90deg, #325d85, #3376a4);
    box-shadow: 2px 3px 4px 0px #00000033;
}

.navButton {
    background: transparent;
    color: white;
    border: none;
    padding: 2px 25px 8px 25px;
    margin: 5px;
    border-radius: 50px;
    font: normal 1.7em 'hina';
}

.navButton:active {
    background-color: #7db45d;
    box-shadow: inset 1px 1px 3px 0px #00000061;
    transition-duration: 0.1s;
}

.navItem {
    font: normal 1.5em 'hina';
    list-style-type: none;
}

.navItem > a {
    display: block;
    padding: 3px 40px;
    min-width: 170px;
    color: white;
    text-decoration: none;
}

.navItem > a:hover {
    background-color: #678ab8;
    
    padding-left: 50px;
    padding-right: 30px;
}

.navItem > a:active {
    background-color: #678ab8;
    transition-duration: 0.2s;
    box-shadow: inset 0px 0px 4px 0px #0000009e;
}

label {
    padding: 10px 1px 10px 10px;
}

#entrada {
    width: 65px;
    border-width: 0px 0px 1px 0px;
    border-style: dashed;
}

.botao {
    width: 40px;
    height: 40px;
    background-color: #94be7ce0;
    color: white;
    border-style: hidden;
}

p {
    margin: 10px;
}
